page-level-selection {
  ion-content {
    scroll-content {
      display: flex;
      flex-direction: column;
    }
    .grid {
      padding: 0px;
    }
    ion-grid {
      padding: 0px;
      height: 100%; // .header {
      //   flex: 1;
      //   margin-top: 10px;
      // }
      ion-fab {
        button {
          color: #F44336;
        }
      } // .btn-home {
      //   width: 50px;
      //   height: 50px;
      //   border-radius: 50%;
      //   border: 1px solid;
      //   color: white;
      //   border-color: white;
      // }
    }
  }
  ion-row {
    text-align: center;
    flex: 2;
    .level {
      // font-family: Avenir;
      font-size: 30px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 1px;
      text-align: center;
      color: #212121;
      margin: 30px 0 10px 0; 
    }
    .btn-lvl-selection {
      background-color: transparent;
    }
    .lvl-easy {
      border: solid 1px #ffffff;
    }
    .lvl-normal {
      color: #FB8C00;
      border-color: #FB8C00;
    }
    .lvl-hard {
      color: #F44336;
      border-color: #F44336;
    } 
    ion-col {
      display: block;
    }
  }
  .row {
    border-bottom: #fafafa 0px solid;
    background-image: url('/assets/img/background-section.png');
    background-repeat: round; //border-radius: 10px; 
    // opacity: 0.5;
    // z-index: 1;
  }
}
