page-level-selection {
  ion-content {
    scroll-content {
      display: flex;
      flex-direction: column;
    }
    .grid {
      padding: 0px;
    }
    ion-grid {
      padding: 0px;
      height: 100%;
      ion-fab {
        button {
          color: #F44336;
        }
      }
    }
  }
  ion-row {
    text-align: center;
    flex: 2;
    .level {
      font-size: 30px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 1px;
      text-align: center;
      color: color($colors, light);
      margin-bottom: 0.66em;
    }
    .lvl-easy,
    .lvl-normal,
    .lvl-hard {
      font-size: 12px;
      line-height: 1.0;
      letter-spacing: 2px;
      text-align: center;
      color: #ffffff;
      height: 3.6em;
    }
    ion-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .row {
    border-bottom: #fafafa 0px solid;
    background-repeat: round;
  }
  .header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../assets/img/whirlwind_bg.jpg") round;
  }
  .body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../assets/img/cyclone_bg.jpg") round;
  }
  .footer {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../assets/img/tornado_bg.jpg") round;
  }
}
