page-level-selection {
  ion-content {
    scroll-content {
      display: flex;
      flex-direction: column;
    }
    ion-grid {
      padding: 0;
      height: 100%;
      .header {
        flex: 1;
        margin-top: 10px;
      }
      .lvl-selection-group {
        flex: 3;
        .btn-lvl-selection {
          width: 80%;
        }
        .lvl-easy{
          color: #00BCD4;
          border-color: #00BCD4;
        }
        .lvl-normal{
          color: #FB8C00;
          border-color: #FB8C00;
        }
        .lvl-hard{
          color: #F44336;
          border-color: #F44336;
        }
      }
      .btn-home {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid;
        color: white;
        border-color: white;
      }
    }
  }
  ion-row {
    text-align: center;
  }
}
