page-home {
  scroll-content {
    display: flex;
    flex-direction: column;
  }
  ion-grid {
    padding: 0;
    height: 100%;
  }
  ion-col {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header {
    flex: 2;
  }
  .body {
    flex: 2;
  }
  .footer {
    flex: 2;

    ion-col {
      display: block;
    }
  }
}
