<ion-content style="background-color: white">
  <ion-grid no-padding>
    <ion-row class="content">
      <ion-grid>
        <ion-row class="header">
          <ion-col>
            <p text-center>{{twisterIndex+1}} of {{totalTwisters}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="body">
          <ion-grid>
            <ion-row class="challenge">
              <ion-col>
                <p [hidden]="showResult">{{currentTwister.text}}</p>
                <div [innerHTML]="formattedAnswer.wordString | safeHTML" *ngIf="showResult"></div>
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
              <ion-col >
                <button class="btn-circle btn-listen" ion-button icon-only outline round mode="md" color="primary" (click)="playCurrentTwister()">
                  <ion-icon name="volume-up"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-row class="result">
              <ion-col>
                <p [hidden]="currentTwister.ipa == undefined || showResult">/ {{currentTwister.ipa}} /</p>
                <div [innerHTML]="formattedAnswer.ipaString | safeHTML" *ngIf="showResult"></div>
              </ion-col>

            </ion-row>
            <!--<ion-row>
              <ion-col>
                <p>Accuracy: {{formattedAnswer.correctPercentage}}</p>
              </ion-col>
            </ion-row>-->
          </ion-grid>
        </ion-row>
      </ion-grid>
    </ion-row>
    <ion-row class="actions">
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-12 text-center>
            <button ion-button full color="secondary" (click)="tryTwister()">
              Record
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 text-center>
            <button ion-button full color="primary" (click)="goToNextTwister()">
              Next
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>
