page-overall {
  scroll-content {
    display: flex;
    flex-direction: column;
  }
  ion-grid {
    padding: 0;
    height: 100%;
    .content {
      flex: 1;
      color: color($colors, dark);
      ion-grid {
        ion-row {
          ion-col {
            height: 100%;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
              flex: 1;
            }
          }
        }
        .header {
          flex: 6;
          img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
          }
          /*
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.49), rgba(31, 29, 29, 0.39)),
          url("../assets/img/whirlwind_bg.jpg") round;
          */
        }
        .rate-txt {
          font-size: 30px;
          font-weight: 300;
          line-height: 1.0;
          letter-spacing: 1px;
          text-align: center;
        }
        .body {
          flex: 2;
          p {
            font-size: 30px;
            font-weight: 300;
            line-height: 1.0;
            letter-spacing: 1px;
            text-align: center;
            color: #1d1d26;
          }
        }
        .footer {
          flex: 3;
          background-color: #f8f8f8;
          .pass {
            color: white;
            background-color: rgba(80, 210, 194, 0.8);
          }
          .fail {
            color: white;
            background-color: rgba(255, 51, 102, 0.8);
          }
          .accuracy {
            color: white;
            background-color: rgba(119, 136, 153, 0.8);
          }
          ion-col {
            font-size: 25px;
            font-weight: 300;
            line-height: 1.0;
            letter-spacing: 1px;
            text-align: center;
            color: color($colors, dark);
            ion-icon {
              opacity: 1;
            }
            p {
              margin-top: 10px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .actions {
      flex: 1;
      .scroll-content {
        color: color($colors, dark);
        .col-square {
          padding-left: 0;
          .square {
            width: 10px;
            height: 10px;
            background-color: color($colors, primary);
            margin-top: 3px;
          }
        }
        .twister-sentence {
          font-size: 15px;
          line-height: 1.0;
          color: #1d1d26;
          p {
            margin: 0;
          }
          .info {
            margin-top: 10px;
            display: flex;
            opacity: 0.5;
            font-size: 12px;
            line-height: 1.0;
            color: #1d1d26;
            .accuracy-info {
              flex: 1;
              ion-icon {
                padding-right: 5px;
              }
            }
            .attemps-info {
              flex: 2;
              ion-icon {
                padding-right: 5px;
              }
            }
          }
        }
        ion-grid {
          ion-row {
            margin: 20px;
            margin-bottom: 0;
            padding-bottom: 20px;
            border-bottom: 1px solid #e0e0e0;
          }
        }
      }
    }
    .btn-playagain {
      height: 64px;
      margin: 0;
      text-transform: capitalize;
      font-weight: 300px;
    }
  }
}
